.layout {
  header {
    width: 100%;
    height: 127px;
    background: var(--secondary);
  }
  main {
    top: 19px;
    width: 85%;
    height: calc(100% - 38px);
    background: var(--app-bg);
    position: absolute;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
      0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
}

// aside style

aside {
  flex: 0 0 30%;
  background: #fff;
  max-width: 30%;
  .header {
    padding: rem(10px) rem(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--panel-header-background);
    .css-i4bv87-MuiSvgIcon-root {
      width: rem(24px);
      height: rem(24px);
    }
    .MuiAvatar-root.MuiAvatar-circular {
      cursor: pointer;
    }
  }
}
